<%= form_with(model: recipe, local: true) do |form| %>
  <% if recipe.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(recipe.errors.count, "error") %> prohibited this recipe from being saved:</h2>
      <ul>
      <% recipe.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :author %>
    <%= form.text_field :author, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label :origin %>
    <%= form.text_field :origin, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label "Cook Time: Total time as free text" %>
    <%= form.text_field :cook_time, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= form.label "Number of servings" %>
    <%= form.number_field :servings, class: "form-control" %>
  </div>
  <div class="form-group">
    <ul class="list-group">
      <%= render partial:'ingredients_amounts', locals: {form: form } %>
    </ul>
  </div>
  <div class="actions form-group">
    <%= form.submit 'Update recipe', class: 'btn btn-info' %>
  </div>
<% end %>
