<p id="notice"><%= notice %></p>

<h1>Recipes</h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td class="recipe-name-td"><%= link_to recipe.name.capitalize, recipe %></td>
        <td class="recipe-edit-td">
          <a href="<%= edit_recipe_path(recipe) %>">
            <i class="fa fa-pencil-square-o fa-lg edit-row"></i>
          </a>
        </td>
        <td class="recipe-delete-td">
          <%= link_to recipe, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash fa-lg delete-row"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Recipe', new_recipe_path, class: 'btn btn-success' %>
