<p id="notice"><%= notice %></p>

<h1>Ingredients</h1>

<table class="table">
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ingredients.each do |ingredient| %>
      <tr>
        <td class="ingredient-name-td"><%= ingredient.name.capitalize %></td>
        <td class="ingredient-edit-td">
          <a href="<%= edit_ingredient_path(ingredient) %>">
            <i class="fa fa-pencil-square-o fa-lg edit-row"></i>
          </a>
        </td>
        <td class="ingredient-delete-td">
          <%= link_to ingredient, method: :delete, data: { confirm: 'Are you sure?' } do %>
            <i class="fa fa-trash fa-lg delete-row"></i>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ingredient', new_ingredient_path, class: 'btn btn-success' %>
