<% @shopping_list.shopping_list_items.each do |shopping_list_item| %>
  <li>
    <%= form.fields_for :shopping_list_items, shopping_list_item do |shopping_list_item_form| %>
      <%= shopping_list_item_form.text_field :name %>
      <%= shopping_list_item_form.text_field :amount %>
      <%= shopping_list_item_form.select :units, [[ 'Gramos', :grams ], ['Piezas', :pieces]] %>
      <%= shopping_list_item_form.check_box :bought %>
      <% if shopping_list_item.id %>
        <%= link_to 'Remove', shopping_list_item_path(shopping_list_item), method: :delete, remote: true, class: 'delete_shopping_list_item' %>
      <% else %>
        <%= link_to 'Remove', '#', onclick: "$(this).closest('li').remove();", remote: true %>
      <% end %>
    <% end %>
  </li>
<% end %>
